parameters:
  level: 3
  paths:
    - src
    - .phan/config.php
    - scoper.inc.php
  scanDirectories:
    - .phan/stubs
    - vendor/skaut/wordpress-stubs/stubs
    - dist/vendor
  scanFiles:
    - vendor/skaut/wordpress-stubs/stubs/WordPress/functions.php
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    - '#Access to an undefined property Skautis_Integration\\Vendor\\Skautis\\Skautis::\$#'
