.skautis-user-management-table {
	border-collapse: collapse;
}

.skautis-user-management-table tbody > :nth-child(odd) {
	background-color: #f9f9f9;
}

.skautis-user-management-table th,
.skautis-user-management-table td {
	padding: 5px 8px;
}

.skautis-user-management-table th {
	text-align: left;
	background: none !important;
}

.skautis-user-management-table th span {
	position: relative;
}

.skautis-user-management-table th span::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	width: 19px;
	height: 19px;
	margin-left: 1ex;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-position: center center;
	background-repeat: no-repeat;
}

#TB_ajaxContent .content { /* stylelint-disable-line selector-id-pattern */
	padding: 0 55px 0 0;
}

#connectUserToSkautisModal { /* stylelint-disable-line selector-id-pattern */
	max-width: 400px;
}
