.skautisUserManagementTable {
	border-collapse: collapse;
}

.skautisUserManagementTable tbody > :nth-child(odd) {
	background-color: #f9f9f9;
}

.skautisUserManagementTable th,
.skautisUserManagementTable td {
	padding: 5px 8px;
}

.skautisUserManagementTable th {
	text-align: left;
}

#TB_ajaxContent .content {
	display: inline-block;
	padding: 0 55px 55px 0;
}